<section>
  <div class="conbtainer">
    <app-category-card
      *ngFor="let category of categories"
      [category]="category!"
      (removeClicked)="removeCategory(category)"
      ]></app-category-card>
    <input
      (keydown.enter)="addCategory()"
      )
      type="text"
      class="input margin"
      placeholder="Nazwa kategorii"
      [(ngModel)]="categoryName"
      ] />
    <button class="btn margin" (click)="addCategory()" )>
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
  </div>
</section>
